<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loggedin</title>
    <style>
        .ms {
            color: red;
            text-align: center;
        }
        .user {
            color: green;
            text-align: center;
            top: 250px;
            left: 250px;
        }
    </style>
</head>
<body>
        {% if msg %}
            <div class="ms">
                <h2>{{ msg }}</h2>
            </div>
        {% endif %}
        {%  if username %}
                {% if id %}
                    <div class="user">
                    <h2>Hello {{ username }} </h2><br>
                    <h3>Your ID: {{ id }}</h3>
                    </div>
                {% endif %}
        {% endif %}
</body>
</html>